{
    "family": "ChatOps",
    "containerDefinitions": [
        {
            "name": "ChatOps",
            "image": "whoop/chat-ops:latest",
            "memory": 64,
            "portMappings": [],
            "essential": true,
            "environment": [
                {{#env}}
                {
                    "name": "{{name}}",
                    "value": "{{value}}"
                }{{#comma}},{{/comma}}
                {{/env}}
            ],
            "mountPoints": [],
            "volumesFrom": [],
            "logConfiguration": {
                "logDriver": "syslog",
                "options": {
                    "syslog-address": "{{papertrail}}",
                    "tag": "whoop"
                }
            }

        }
    ],
    "volumes": []
}
