{
    "family": "ChatOps",
    "containerDefinitions": [
        {
            "name": "ChatOps",
            "image": "whoop/chat-ops:latest",
            "cpu": 0,
            "memory": 64,
            "portMappings": [],
            "essential": true,
            "environment": [
                {{#env}}
                {
                    "name": "{{name}}",
                    "value": "{{value}}"
                }{{#comma}},{{/comma}}
                {{/env}}
            ],
            "mountPoints": [],
            "volumesFrom": []
        }
    ],
    "volumes": []
}
